body {
  margin: 0px;
}

.main {
  font-family: sans-serif;
  display: flex;
  max-width: 100%;
  margin: 0px;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.heading img {
  width: 150px;
  margin-left: 120px;
  margin-top: 10px;
}

.heading {
  background-image: linear-gradient(to bottom, #176bdf, #488ae8, #7eaff4);
  height: 45vh;
  padding: 0px;
  color: #fff;
}

.terms {
  text-align: center;
  font-size: 24px;
  padding-top: 50px;
  margin-top: 0;
}

.text {
  width: 80%;
  margin-left: 120px;
  margin-top: 70px;
  margin-bottom: 80px;
}

.text h3 {
  color: #333b6c;
}

.copyright {
  border-top: 1px solid #d8d8d8;
  height: 20vh;
}

.copyright div {
  text-align: center;
  padding-top: 50px;
}

.copyright img {
  width: 14px;
}

.copyright p {
  display: inline;
  font-size: 13px;
  color: grey;
}

@media (max-width: 768px) {
  .heading {
    height: 30vh;
  }
  .heading img {
    margin-left: 70px;
  }
  .terms {
    padding-top: 45px;
  }
  .text {
    margin-left: 75px;
  }
  .copyright {
    height: 10vh;
  }
  .copyright div {
    padding: 20px 70px 20px 70px;
  }
}

@media (max-width: 560px) {
  .heading img {
    margin-left: 50px;
  }
  .text {
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  /* .heading img {
    margin-left: 145px;
  } */
  .text {
    margin-left: 40px;
  }
}
